.navigationBarDiv {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1000;
}

@media screen and (max-width: 600px) {
	.navigationBarDiv {
		opacity: 0;
	}
}

.nav {
	padding: 15px;
	/* width: min-content; */
    height: 100%;
	background-color: #435574;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.avatarItem {
	width: 100px;
	padding: 0;
}

.avatarImage {
	border-radius: 50%;
}

.TitleNickname {
	display: flex;
	justify-content: center;
	color : #F4ED37;
	cursor: pointer;
}

.PlayElem {
	background: linear-gradient(to right, #F4ED37, #cecec3);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ElemListNavBar {

	background: linear-gradient(to right, #F4ED37, #cecec3);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.border-custom-color {
    border-color: #000000 !important;  /* Exemple avec une couleur orange */
}

.divListFriends {

	width: 100%;
	display: flex;
	justify-content: center;
}


button.buttonLogOut {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button.buttonLogOut:active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ombre plus forte au clic */
}


/*MODAL*/
.modalInfoContent {
	background-color: rgba(255, 234, 234, 0.5);
	transition: transform 0.5s ease, opacity 0.5s ease; /* S'assurer que la transition est appliquée */
	transform: translateX(-100vw); /* Part de la gauche en dehors de l'écran */
	opacity: 0 ; /* Initialement invisible */
	/* transition: transform 0.5s ease, opacity 0.5s ease ; */
	/* transform: translateY(-1000px); Départ de l'animation, hors écran */
}

.modalInfo.fade.show .modalInfoContent {
	transform: translateX(0); /* Ramener à la position d'origine */
	opacity: 1 ; /* Rendre visible */
}

.modalInfoHeader {
	justify-content: space-between;
}

.modalInfoTitle {
	color : #F4ED37;
}

.modalInfoDialog {
	position: relative;
    margin: 0 !important;  /* Désactiver la marge centrale par défaut */
    top: auto;  /* Désactiver la position centrale verticale par défaut */
    left: auto; /* Désactiver la position centrale horizontale par défaut */
	max-width: 400px !important; /* Limiter la largeur à 400px ou à une taille adaptée */
    width: auto !important;  /* Permettre à la modal de s'adapter automatiquement au contenu étendre sans restriction de largeur */
}

#closeButtonInfos {
	color: #aaa;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#closeButtonInfos:hover,
#closeButtonInfos:focus {
	color: #000;
    text-decoration: none;
    cursor: pointer;
}


#closeButtonParam {
	color: #aaa;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

#closeButtonParam:hover,
#closeButtonParam:focus {
	color: #000;
    text-decoration: none;
    cursor: pointer;
}
