.usersContainer {
    width: 45%;    /* 45% de la largeur totale */
    height: 100%;   /* Prendre toute la hauteur disponible */
    margin-right: 20px; /* Ajout d'un espace entre usersContainer et ContainerHistorical */
}

.userPosition {
    height: 35%;
    background-color: #435574;
    width: 100%;
    margin-bottom: 15px; /* Ajout d'un espace entre userPosition et userStatsProfile */
}

.userStatsProfile {
    height: 65%;
    background-color: #435574;
}

.ChartGame{
	display: flex;
	align-items: center;
}


.ContainerHistorical {
    width: 55%;    /* 55% de la largeur totale */
    height: 100%;  /* Prendre toute la hauteur disponible */
    background-color: #435574;
}

.historical {
    height: 100%;   /* Assurer que la hauteur soit bien remplie */
    background-color: #435574;
}

.TitlePosition {
    color : #F4ED37;
}

.thirdPlace {
    background-color: #584401;
}

.ProgressBar {
    color:#012970;
}
