.userPosition {
	background-color: #435574;
}

.userStatsProfile {
	background-color: #435574;
}

.historical {
	background-color: #435574;
}

.TitlePosition {
	color : #F4ED37;
}

.thirdPlace {
	/* background-color: #665313; */
	background-color: #584401;
}
