.usersContainer {
    width: 45%;
    height: 100%;
    margin-right: 20px;
}

.userPosition {
    height: 40%;
    background-color: #435574;
    width: 100%;
    margin-bottom: 15px;
}

.userStatsProfile {
    height: 60%;
    background-color: #435574;
}

.CharWinRateContener {
    height: 65%;
}

.ChartGame{
	display: flex;
	align-items: center;
}

.ContainerHistorical {
    width: 55%;
    height: 100%;
}

.historical {
    height: 100%;
    background-color: #435574;
}

.TitlePosition {
    color : #F4ED37;
}

.thirdPlace {
    background-color: #584401;
}

.UserStatsContener {
    height: 35%;

}

.ProgressText {
	background: linear-gradient(to right, #F4ED37, #cecec3);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
}
