html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background: #cdd0d491;
}

body.small-font {
    font-size: 12px;
}

body.large-font {
    font-size: 20px;
}

/* Pour le mode sombre */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* new navbar*/
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px; /* Ajoute un padding autour de tout le contenu */
}

#language-selector {

    background: white;
    border-radius: 10px;
}

.base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px; /* Augmente la taille maximale de .base pour plus d'espace */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}


.contener {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1000px; /* Augmente la taille maximale de .contener */
    box-sizing: border-box;
}

.twodivWelcome {
    flex: 1;
    width: 100%; /* Assure que chaque div occupe toute la largeur disponible */
    max-width: 48%; /* Limite la taille de chaque div à 48% pour laisser de l'espace autour */
    box-sizing: border-box;
    margin: 10px; /* Ajoute un espacement entre les divs */
}

.welcome{
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.titleWelcome {
    color: #012970;
    font-weight: 600;
    font-size: 100px;
}

.paragraphWelcome {
    display: flex;
    justify-content: center;
    color: #a19e9e91;

    font-weight: 200;
    font-size: 20px;
}

.listButton {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.listElemWelcome {
    list-style-type: none;
}

.imgPong {
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
}

.Buttonselem {
    background-color: #012970;
    color: white;
    margin: 5px;
}

.Buttonselem {
    background-color: #012970;
    color: white;
    margin: 5px;
}

.Buttonselem:hover {
    background-color: #2759af;
}

/*NAVBAR*/

.navbar-brand {
    /* padding: 5px;
    width: 10px; */
    color: #012970;
}

.nav-icon {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #012970;
}

/* .nav-icon:hover {
    color: #2759af;
} */

/*Livia */

#error404 {
	width: 50%;
	height: 50%;
}
