html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background: #cdd0d491;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contener {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Facultatif, dépend de la taille souhaitée */
    max-width: 800px; /* Vous pouvez ajuster cette valeur selon vos besoins */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    width: 100%; /* Occupe toute la largeur disponible */
    max-width: 50%; /* Limite la taille de la carte à 50% de la largeur du conteneur */
}

.title {
	color: #012970;
	font-weight: 600;
	font-size: 24px;
}

ul {
	display: flex;
}

li {
	list-style-type: none;
}
img {
    width: 100%;
    max-width: 50%; /* Limite la taille de l'image à 50% de la largeur du conteneur */
    height: auto; /* Conserve le ratio d'aspect de l'image */
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre toute la zone disponible */
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn.btn-primary {
    background-color: #012970;
    color: white;
    margin: 5px; /* Ajoute un espacement entre les boutons */
}

.card {
    margin-right: 20px; /* Espacement entre la carte et l'image */
}
