services:
  backend_django:
    container_name: backend_django
    build: ./srcs/services/backend_django
    expose:
      -  8000
    env_file:
        - ./env/postgresql.env
        - ./env/42app.env
#    volumes:
#      - ./srcs/data/backend:/home/app
    restart: on-failure

  frontend_nginx:
    container_name: frontend_nginx
    build: ./srcs/services/frontend_nginx
    expose:
      - 9000:80
    volumes:
      - ./srcs/data/frontend:/var/www/ft_transcendence
    depends_on:
      - backend_django
    restart: on-failure

  proxy_nginx:
    container_name: proxy_nginx
    build: ./srcs/services/proxy_nginx
    ports:
      - 8888:80
    depends_on:
      - frontend_nginx
      - backend_django
    restart: on-failure

  postgresql:
    container_name: postgresql
    build: ./srcs/services/postgresql
    ports:
      - 5432:5432
    env_file:
      - ./env/postgresql.env
    restart: on-failure

volumes:
  data_frontend:
    driver: local
    driver_opts:
        o: bind
        type: none
        device: ./srcs/data/frontend