html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-with-nav {
    padding-left: 225px; /* Ajuste selon la hauteur de la barre de navigation */
}

main {
    height: 100%;
    width: 100%;
}


body {
    display: flex;
    font-family: 'Public Pixel', sans-serif;
    background-image: linear-gradient(to bottom, black, #012970);
    font-size: 16px;
    overflow-x: hidden;
}
body.small-font {
    font-size: 12px;
}
body.large-font {
    font-size: 20px;
}
/* For the buttons to inherit the font size */
.btn {
    font-size: inherit;
}


.PongDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.base {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%; /*100vh*/
    height: 100%;
}

.cardHomeTitle {
    color: #F4ED37;
}

.ButtonsHome {
    padding: 5px;
    background-color: #435574;
    border: none;
    box-shadow: #6f87b1 0px 4px 12px;

}

.ButtonsHome:hover {
    background-color: #6f87b1;
    box-shadow: #435574 0px 4px 12px;
}


/* =======================MODAL-LOGIN===========================*/
.ModalLoginBase {
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    backdrop-filter: blur(10px);
}


.ModalLoginBase-show {
    opacity: 1;
}

.ModalLogin{

    background-color: rgba(255, 234, 234, 0.5);
    backdrop-filter: blur(10px);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease ;
    transform: translateY(-100vh);
    opacity: 0;
}

.modalRegisterBody {
    display: none;
}
.modalLoginTitle {
    color : #F4ED37;
}

.modalLoginContent{
    width: auto;
    background-color: rgba(255, 234, 234, 0.5);
}

.ModalLoginBase-show .ModalLogin .ModalRegister .modalGameSettingsBase{
    transform: translateY(0);
    opacity: 1;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modalLoginHeader{
    display: flex;
    justify-content: space-between;

}

.modalLoginDialog {
    width: auto;
}

.closeButtonLogin {
    cursor: crosshair;
}

.closeButtonLogin:hover,
.closeButtonLogin:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.ButtonLogin {
    padding: 5px;
    background-color: #3a4250;
    border: none;
    box-shadow: #6f87b1 0px 4px 12px;
}


.ButtonLogin:hover,
.ButtonLogin:focus {
    background-color: #000;
    box-shadow: #435574 0px 4px 12px;
}

/*=====================Modal-Register========*/
.ModalRegisterBase {

    backdrop-filter: blur(10px);
    margin: auto;
    padding: 20px;
    width: 100%;
    opacity: 96%;

}

.modalRegisterDialog {
    width: 100%;
    display: flex;
    justify-content: center;

}
.ModalRegisterContent{

    opacity: 0; /* Commence par être invisible */
    transform: translateY(-20px); /* Décale légèrement vers le haut */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Durée de l'animation */
    background-color: rgba(255, 234, 234, 0.5) !important;
    padding: 5px;
    width: auto;
}

.modalRegisterBase-show .ModalRegisterContent {
    opacity: 1; /* Rendre visible */
    transform: translateY(0); /* Remet à sa position d'origine */
}


.modalRegister {
    background-color: rgba(255, 234, 234, 0.5) !important;
    backdrop-filter: blur(10px);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease ;
    transform: translateY(-100vh);
    opacity: 0;
}


.formRegister {
    padding: 15px;
}

.ButtonRegisterSubmit {
    padding: 10px;
}

.closeRegisterButton {
    color: #000;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 15px;
    cursor: pointer;
}

.closeRegisterButton:hover,
.closeRegisterButton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#error404 {
	width: 50%;
	height: 50%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
